/.github/ @mbarleon-org/area
/LICENSE @mbarleon-org/area
/jenkins-build.sh @mbarleon-org/area
/.jenkins @mbarleon-org/area
/build.ps1 @mbarleon-org/area
/build.sh @mbarleon-org/area
/scripts/ @mbarleon-org/area
/.clang-format @mbarleon-org/area
/.editorconfig @mbarleon-org/area
/.gitattributes @mbarleon-org/area
/.gitignore @mbarleon-org/area
/.pre-commit-config.yaml @mbarleon-org/area
/.github/CODEOWNERS @mbarleon
